.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
Debug/
Release/
x64/
x86/

*.obj
*.ilk
*.pdb
*.idb
*.ipch
*.iobj
*.ipdb
*.pch
*.tlog
*.lastbuildstate
*.exp
*.lib

*.log
*.tmp
*.bak
*.dmp
